<h1>Create Article</h1>

<form action="/articles" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="article[title]" id="titel">
    </div>
    <br>
    <div>
        <label for="title">Content:</label>
        <input type="text" name="article[content]" id="content">
    </div>
    <br>
    <input type="submit" value="Create">

</form>