<h2> <%= @article.title %> </h2>
<p> <%= @article.content %> </p>

<form action="/articles/<%= @atricle.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Article">
</form>